@import "../../app.scss";

.home {
  @include themify($themes) {
    display: flex;
    width: 100%;

    .homeContanier {
      flex: 6;
      background-color: themed("bg");

      .widgets {
        display: flex;
        padding: 20px;
        gap: 20px;
      }

      .charts {
        display: flex;
        padding: 5px 20px;
        gap: 20px;
      }

      .listContanier {
        -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
        box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.16);
        border-radius: 5px;
        padding: 20px;
        margin: 20px;

        .listTitle {
          font-weight: 500;
          color: themed("textColorSoft");
          margin-bottom: 15px;
        }
      }
    }
  }
}
